<ion-content>
	<div class="row">
    	<div class="col center">
			<img class="text-center logo" src="assets/imgs/logo.png" alt="Logo">
		</div>
	</div>
		
	<ion-list inset>
  		<ion-item>
    		<ion-input type="text" placeholder="Email" [(ngModel)]="user.email"></ion-input>
  		</ion-item>
	  	<ion-item>
		    <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
  		</ion-item>
	</ion-list>
	<div class="row" padding>
    	<div class="col center">
			<button ion-button color="hard-blue" block (click)="login()"><b>Login</b></button>
			or <span class="sign-up-btn" (click)="goToRegister()">SignUp</span>
		</div>
	</div>
	<div class="row" no-padding>
    	<div class="col center">
			<p>Forgot Password?</p>
		</div>
	</div>
</ion-content>
