page-login {
	ion-content{
		background: url('../assets/imgs/login.png');
	}
	.center{
     	text-align:center;
	}
	.sign-up-btn{
		background: white;
		color:#0093e5;
		border:1px solid #0093e5;
		border-radius:3px;
		padding: 0px 10px;
	}
	.logo{
		padding-top:25px;
	}
}
