<ion-content padding>
	<img src="assets/imgs/whiteLogo.png" alt="" width="100%">
	<h1 class="white-text text-center">Register Now</h1>
	<ion-list>
		<ion-item no-padding>
			<ion-input placeholder="Name" type="text" value="" [(ngModel)]="user.name"></ion-input>
	  	</ion-item>
		<ion-item no-padding>
			<ion-input placeholder="Email" type="email" value="" [(ngModel)]="user.email"></ion-input>
	  	</ion-item>
	  	<ion-item no-padding>
	    	<ion-input placeholder="Password" type="password" [(ngModel)]="user.password"></ion-input>
	  	</ion-item>
	  	<br>
		<button ion-button block color="hard-blue" (click)="register()">Create Free Account</button>
	</ion-list>
</ion-content>
