<ion-tabs color="dark">
    <ion-tab tabIcon="list" tabTitle="Lists" [root]="tab1"></ion-tab>
    <ion-tab tabIcon="chatbubbles" tabTitle="Messages" 	*ngIf="quantityMsg > '0'" tabBadgeStyle="danger" tabBadge="{{quantityMsg}}" [root]="tab2"></ion-tab>
    <ion-tab tabIcon="chatbubbles" tabTitle="Messages" 	*ngIf="quantityMsg <= '0'" [root]="tab2"></ion-tab>
    <ion-tab tabIcon="notifications" tabTitle="Notification" *ngIf="quantityNtf > '0'" tabBadgeStyle="danger" tabBadge="{{quantityNtf}}" [root]="tab3"></ion-tab>
    <ion-tab tabIcon="notifications" tabTitle="Notification" *ngIf="quantityNtf <= '0'" [root]="tab3"></ion-tab>
    <ion-tab tabIcon="search"tabTitle="Search" *ngIf="quantityNtf >= '0'" [root]="tab4" item-end></ion-tab>
</ion-tabs>