<ion-header>
	<ion-navbar color="white">
		<ion-title>Messages</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item *ngFor="let message of messages" (click)="goToTask(user.id, message.idMessage, message.taskName, message.idTask)">
		    <ion-avatar item-start (click)="gotoSettings()">
		      	<ion-text-avatar color="soft-{{message.iconColor}}"><span class="white-text" uppercase>{{message.writedBy[0]}}</span></ion-text-avatar>
		    </ion-avatar>
		    <span>{{message.writedBy}}</span>
	    	<p>{{message.taskName}} From <b>{{message.listName}}</b></p>
		    <p class="item-message">{{message.text}}</p>
		    <p><ion-icon name="chatbubbles" item-left></ion-icon><i>{{message.created}}</i></p>
    	</ion-item>
	</ion-list>
</ion-content>
