<ion-header>
	<ion-navbar color="white">
		<ion-title>{{list.name}}</ion-title>
		<ion-buttons end>
			<button ion-button showWhen="ios" (click)="createNewTask()" color="light">
	    		<span ion-text color="primary">Create</span>
	  		</button>
	    	<button ion-button icon-only showWhen="android, windows" color="dark" (click)="createNewTask()">
			  <ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh">
        </ion-refresher-content>
  	</ion-refresher>
	<ion-card>
		<ion-card-content>
			<ion-item>
			    <ion-label><ion-icon name="add"></ion-icon></ion-label>
			    <ion-input type="text" [(ngModel)]="task.task"	placeholder="Add a Task"></ion-input>
		  	</ion-item>
	  	</ion-card-content>
  	</ion-card>
  	<ion-card>
		<ion-list>
		  <ion-item-sliding *ngFor="let task of tasks">
		    <ion-item>
		      	<ion-label *ngIf="task.status == '0'">{{task.name}}</ion-label>
			    <ion-checkbox *ngIf="task.status == '0'" (click)="toogleStatusTask(task.id_task, 1)"></ion-checkbox>

		      	<ion-label *ngIf="task.status == '1'"><s>{{task.name}}</s></ion-label>
			    <ion-checkbox *ngIf="task.status == '1'" checked="true" (click)="toogleStatusTask(task.id_task, 0)"></ion-checkbox>
		    </ion-item>
		    <ion-item-options side="left">
		      <button ion-button color="danger" (click)="deleteTask(task.id_task)"><ion-icon name="trash"></ion-icon></button>
		    </ion-item-options>
		    <ion-item-options side="right">
		      <button ion-button (click)="goToTask(task.id_task, task.name)"><ion-icon ios="ios-create-outline" md="md-create"></ion-icon></button>
		    </ion-item-options>
		  </ion-item-sliding>
		</ion-list>
  	</ion-card>
</ion-content>
