page-profile {
	ion-content{
		background: #F5F5F5 !important;
	}
	ion-slides{
		height:25% !important;
	}
	.soft-purple {
		background:#EBB1FF;
	}
	.soft-red {
		background:#FFB1B1;
	}
	.soft-green {
		background:#B1FFC1;
	}
	.soft-blue {
		background:#B1B9FF;
	}
	.soft-yellow {
		background:#ECDD55;
	}
}
