<ion-header>
	<ion-navbar color="white">
		<ion-title>Personal Info</ion-title>
		<ion-buttons end>
			<button ion-button showWhen="ios" (click)="updateUser()" color="light">
	    		<span ion-text color="primary">Update</span>
	  		</button>
	    	<button ion-button icon-only showWhen="android, windows" color="dark" (click)="updateUser()">
			  <ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-slides (ionSlideDidChange)="slideChanged()" initialSlide="{{initialSlide}}">
  		<ion-slide class="soft-blue">
    		<h1>I Want This!</h1>
  		</ion-slide>
  		<ion-slide class="soft-purple">
    		<h1>I Want This!</h1>
  		</ion-slide>
  		<ion-slide class="soft-red">
		    <h1>I Want This!</h1>
  		</ion-slide>
  		<ion-slide class="soft-green">
		    <h1>I Want This!</h1>
  		</ion-slide>
  		<ion-slide class="soft-yellow">
		    <h1>I Want This!</h1>
  		</ion-slide>
	</ion-slides>
	<ion-list>
		<ion-item>
			<ion-input placeholder="Name" type="text" value="" [(ngModel)]="userToUpdate.name"></ion-input>
	  	</ion-item>
		<ion-item>
			<ion-input placeholder="Email" type="email" value="" [(ngModel)]="userToUpdate.email"></ion-input>
	  	</ion-item>
	</ion-list>
</ion-content>