<ion-header>
  <ion-navbar color="white">
  	<ion-item no-lines>
	    <ion-avatar item-start (click)="gotoSettings()">
	      	<ion-text-avatar color="soft-{{user.iconColor}}"><span class="white-text" uppercase>{{user.name[0]}}</span></ion-text-avatar>
	    </ion-avatar>
	    <span (click)="gotoSettings()">{{user.name}}</span>
	    <ion-icon name="more" item-end (click)="presentPopover($event)"></ion-icon>
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh">
        </ion-refresher-content>
  	</ion-refresher>
	<h5 padding>Keen On Klean Construction</h5>
	<ion-list>
		<ion-item-sliding *ngFor="let list of lists" (press)="presentActionSheet(list.id_list, list.listName);">
			<ion-item>
				<ion-avatar item-start >
		  			<ion-text-avatar color="soft-{{list.color}}"></ion-text-avatar>
				</ion-avatar>
				<b>{{list.listName}}</b>
				<p class="red-text" *ngIf="list.porcent == '0'">No task complete yet</p>
				<p class="red-text" *ngIf="list.porcent > '0'">{{list.porcent}}% Complete</p>
				<p><progress max="100" *ngIf="list.porcent > '0'" value="{{list.porcent}}"></progress></p>
			</ion-item>
			<ion-item-options side="right">
		      <button ion-button color="primary" (click)="goToList(list.id_list)"><ion-icon name="create"></ion-icon></button>
		    </ion-item-options>
			<ion-item-options side="left">
		      <button ion-button color="danger" (click)="deleteList(list.id_list)"><ion-icon name="trash"></ion-icon></button>
		    </ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<div class="row">
    	<div class="col center">
			<button ion-button class="btn-white" (click)="showNewListModal()"><b>Add List</b></button>
		</div>
	</div>
	<img src="assets/imgs/noList.png" *ngIf="lists?.length <= 0" alt="">
</ion-content>
