page-home {
	ion-content{
		background: #F5F5F5 !important;
	}
	.white-text{
		color: #FFFFFF;
	}
	.red-text{
		text-size: 12px;
		color: #FFB1B1;
	}
	.center{
     	text-align:center;
	}
	.btn-white{
		background: #FFFFFF !important;
		color:#4695FC !important;
		border-radius: 3px !important;
		border: 2px solid #C6C6C6 !important;
		box-shadow: none;
	}
	progress[value]::-webkit-progress-bar {
	  	background-color: #f5f5f5;
	}
	progress[value]::-webkit-progress-value {
	  	background-color: #B1B9FF;
	}
}
