<ion-header >
	<ion-navbar color="white">	
	    <ion-item no-lines>
	      	<span (click)="close()" item-start>
	        	<span ion-text showWhen="ios" color="primary">Cancel</span>
	        	<ion-icon name="md-close" showWhen="android, windows"></ion-icon>
	      	</span>
		    <div class="row">
		    	<div class="col center">
					<ion-title showWhen="android, windows"><b>New List</b></ion-title>
					<b showWhen="ios">New List</b>
		    	</div>
		    </div>
	      	<span (click)="createNewList()" item-end>
	        	<span ion-text color="primary" showWhen="ios" color="primary">Create</span>
	        	<ion-icon name="md-checkmark" showWhen="android, windows"></ion-icon>
	      	</span>
	    </ion-item>
	</ion-navbar>	
</ion-header>
<ion-content>
	<ion-item-group no-lines>
		<ion-item>
			<ion-icon name="list" item-start></ion-icon>
			<ion-input placeholder="ListName" type="text" [(ngModel)]="list.name"></ion-input>
		</ion-item>
		<ion-item-divider color="dark">Members:</ion-item-divider>
	</ion-item-group>
	<ion-searchbar (ionInput)="getItemsToSearch($event)"></ion-searchbar>
    <button ion-item *ngFor="let user of users" (click)="assingToCurrentList(user.idUser, $event)" class="container-button">
	    <ion-avatar item-start>
	        <ion-text-avatar color="soft-{{user.iconColor}}" text-uppercase>{{user.name[0]}}</ion-text-avatar>
	    </ion-avatar>
	    <h2>{{user.name}}</h2>
	    <p>{{user.email}}</p>
    </button>
    <button ion-item>
        <ion-avatar item-start>
            <ion-text-avatar color="primary">+</ion-text-avatar>
        </ion-avatar>
        Invite People
    </button>
</ion-content>
