<ion-header>
  	<ion-navbar color="white">
    	<ion-title>Search</ion-title>
  	</ion-navbar>
  	<ion-searchbar [(ngModel)]="searchInput" (ionInput)="onInput($event)"></ion-searchbar>
</ion-header>
<ion-content>
	<div class="row">
    	<div class="col center">
			<b>Looking for something</b>
		</div>
	</div>
</ion-content>
