<ion-header>
  <ion-navbar color="white">
    <ion-title><b>Settings</b></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<ion-list>
  		<ion-item (click)="goToEditProfile()"><span class="primary-color">Edit Profile</span><span item-end color="primary" class="fa fa-angle-right primary-color"></span></ion-item>
  		<ion-item><span class="primary-color">Payments</span><span item-end color="primary" class="fa fa-angle-right primary-color"></span></ion-item>
  		<ion-item><span class="primary-color">Configuration</span><span item-end color="primary" class="fa fa-angle-right primary-color"></span></ion-item>
  		<ion-item><span class="primary-color">Terms & Conditions</span><span item-end color="primary" class="fa fa-angle-right primary-color"></span></ion-item>
  		<ion-item><span class="primary-color">Privacy Policy</span><span item-end color="primary" class="fa fa-angle-right primary-color"></span></ion-item>
  		<ion-item>Version<span item-end> 1.0.1</span></ion-item>
  		<ion-item (click)="logOut()"><span class="danger-color">Log Out</span></ion-item>
	</ion-list>
</ion-content>
