<ion-list no-lines>
  <button ion-item class="margin-top-md" showWhen="android, windows"(click)="close()">Add Group</button>
  <button ion-item class="margin-top-ios" showWhen="ios"(click)="close()">Add Group</button>
  <button ion-item (click)="showNewListModal()">Add List</button>
  <button ion-item (click)="close()">Add Member</button>
  <button ion-item (click)="close()">Filters</button>
  <button ion-item (click)="close()">Show All Lists</button>
</ion-list>