<ion-header>
	<ion-navbar color="white">
		<ion-title>{{task.name}}</ion-title>
		<ion-buttons end>
			<button ion-button showWhen="ios" (click)="updateTask(task.id_task)" color="light">
	    		<span ion-text color="primary">Update</span>
	  		</button>
	    	<button ion-button icon-only showWhen="android, windows" color="dark" (click)="updateTask(task.id_task)">
			  <ion-icon name="checkbox-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
    <ion-item-group>
      <ion-item-divider>Task</ion-item-divider>
      <ion-item>
        <ion-icon name="list" item-start></ion-icon>
        <ion-input type="text" placeholder="Task Name" [(ngModel)]="updTask.name"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Dates</ion-item-divider>
      <ion-item>
        <ion-icon ios="ios-calendar-outline" md="md-calendar" item-start></ion-icon>
        <ion-datetime displayFormat="Expire: DDD DD, MMM YYYY" max="2050-12-31" pickerFormat="DD MMM YYYY" [(ngModel)]="updTask.expirationDate" placeholder="Expiration date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-notifications-outline" md="md-notifications" item-start></ion-icon>
        <ion-datetime displayFormat="Notify: hh:mm a" pickerFormat="hh mm a" [(ngModel)]="updTask.rememberDate" placeholder="Remember date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="repeat" item-start></ion-icon>
        <ion-label>Repeat</ion-label>
        <ion-select [(ngModel)]="updTask.repeat" interface="action-sheet">
          <ion-option value="0">Mute</ion-option>
          <ion-option value="1">Daily</ion-option>
          <ion-option value="2">Weekly</ion-option>
          <ion-option value="3">Monthly</ion-option>
          <ion-option value="4">Yearly</ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    <ion-item-divider>Subtasks</ion-item-divider>
    	<ion-item>
        	<ion-icon name="add" item-start></ion-icon>
        	<ion-input type="text" [(ngModel)]="newSubtask" placeholder="Add new Subtask" clearInput></ion-input>
        	<button ion-button ion-large item-end (click)="addSubtask();">Add</button>
      	</ion-item>
      	<ion-list>
	      	<ion-item-sliding *ngFor="let subtask of subtasks">
	        	<ion-item>
	          		<ion-label>{{subtask.name}}</ion-label>
	          		<ion-checkbox *ngIf="subtask.status == '0'" (click)="toogleStatusSubtask(subtask.idSubtask, 1)"></ion-checkbox>
	          		<ion-checkbox *ngIf="subtask.status == '1'" (click)="toogleStatusSubtask(subtask.idSubtask, 0)" checked="true"></ion-checkbox>
	        	</ion-item>
	        	<ion-item-options side="right">
		      		<button ion-button color="danger" (click)="deleteSubtask(subtask.idSubtask)"><ion-icon name="trash"></ion-icon></button>
			    </ion-item-options>
	      	</ion-item-sliding>
      	</ion-list>
      <ion-item-divider>Notes</ion-item-divider>
      <ion-item>
        <ion-icon ios="ios-copy-outline" md="md-copy" item-start></ion-icon>
        <ion-textarea placeholder="Enter a description" [(ngModel)]="updTask.note"></ion-textarea>
      </ion-item>
      <ion-item-divider>Attachments</ion-item-divider>
      <ion-item>
        <ion-icon name="attach" item-start></ion-icon>
        <button ion-item (click)="presentActionSheet();" ion-large clear>Add file</button>
      </ion-item>
      <!-- <ion-item-divider>TEST TEST</ion-item-divider> -->
      <!-- <ion-item> -->
        <!-- <p>{{imageURI}}</p> -->
        <!-- <button ion-button color="secondary" (click)="getImage()">Get Image</button> -->
      <!-- </ion-item> -->
      <ion-item>
        <h4>Image Preview</h4>
        <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
      </ion-item>
     <!--  <ion-item>
        <button ion-button (click)="uploadFile()">Upload</button>
      </ion-item> -->
      <ion-item-divider>Messages</ion-item-divider>
      <ion-list>
          <ion-item-sliding *ngFor="let message of messages">
            <ion-item>
            <ion-avatar item-start>
              <ion-text-avatar color="soft-{{message.color}}"><span class="white-text" uppercase>{{message.userName[0]}}</span></ion-text-avatar>
            </ion-avatar>
            <b>{{message.userName}}</b>
            <p>{{message.text}} - <i>{{message.created}}</i></p> 
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" (click)="deleteMessage(message.idMessage)"><ion-icon name="trash"></ion-icon></button>
            </ion-item-options>
          </ion-item-sliding>
      </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark"> 
    <ion-item color="dark">
      <ion-icon name="chatbubbles" item-left></ion-icon>
      <ion-input placeholder="Add Message..." clearInput [(ngModel)]="messageInput" (keyup.enter)="handleMessage();"></ion-input>
    </ion-item>
  </ion-toolbar>
</ion-footer>
